.clearfix {
  zoom: 1;
  &:after {
    display: block;
    content:"";
    height:0;
    clear: both;
  }
}

body {
  ul {
    @extend .clearfix;
    li {
      float: left;
      margin-left: 15px;
      background-color: #f19d9d;
      list-style-type: none;
      &:nth-of-type(2n) {
        background-color: #037e7e;
      }
    }
  }
}
